<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"></nav>

<div class="container" id="main-container">
  <h2>Amigos</h2>
  <p>Sus amigos son:</p>
  <div class="table-responsive">
    <table class="table table-hover" id="friendsList">
      <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${friendsList}">
        <td th:text="${user.name}">Nombre del alumno</td>
        <td th:text="${user.lastName}">71888888X</td>
        <td th:text="${user.email}">71888888X</td>
        <th scope="col"></th>
      </tr>
      </tbody>
    </table>
  </div>
  <footer th:replace="fragments/pagination"/>
</div>
<footer th:replace="fragments/footer"/>

</body>
</html>