<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"/>

<div class="container" id="main-container">
  <h2 th:text="#{friend.list.title}">Amigos</h2>
  <p th:text="#{friend.list.description}">Sus amigos son:</p>
  <div class="table-responsive">
    <table class="table table-hover" id="friendsList">
      <thead>
      <tr>
        <th scope="col" th:text="#{user.list.name}">Nombre</th>
        <th scope="col" th:text="#{user.list.lastName}">Apellidos</th>
        <th scope="col" th:text="#{user.list.email}">Correo</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${friendsList}">
        <td th:text="${user.name}"  th:href="${'/post/list/' + user.getEmail()}">Nombre del alumno</td>
        <td th:text="${user.lastName}">71888888X</td>
        <td th:text="${user.email}">71888888X</td>
        <th scope="col"></th>
      </tr>
      </tbody>
    </table>
  </div>
  <footer th:replace="fragments/pagination"/>
</div>
<footer th:replace="fragments/footer"/>

</body>
</html>