<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head"/>
<body>

<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>
<div class="container">
    <h2 th:text="#{user.list.title}">Usuarios</h2>
    <form class="form-inline" action="/user/list" sec:authorize="hasRole('STANDARD')">
        <div class="form-group">
            <input name="searchText" type="text" class="form-control" size="50"
                   placeholder="Buscar por descripción o nombre del alumno">
        </div>
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    <p th:text="#{user.list.description}">Los usuarios del sistema son:</p>
    <button type="button" id="updateButton" class="btn btn-default" th:text="#{user.list.update}">Actualizar</button>
    <form class="form-horizontal" method="post" action="/user/delete">
        <div class="table-responsive" th:fragment="tableUsers", id="tableUsers">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" th:text="#{user.list.email}">Email</th>
                    <th scope="col" th:text="#{user.list.name}">Nombre</th>
                    <th scope="col" th:test="#{user.list.lastName}">Apellido</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${usersList}" class="userRow">
                    <td><input type="checkbox" class="checkbox" th:id="${user.email}" name="user" th:value="${user.id}" sec:authorize="hasRole('ADMIN')"/></td>
                    <td scope="row" th:text="${user.name}"></td>
                    <td scope="row" th:text="${user.email}"></td>
                    <td scope="row" th:text="${user.lastName}"></td>
                    <td scope="row"><a sec:authorize="hasRole('STANDARD')" th:id="${'send_'+user.getEmail()}" th:if="${!user.isAnyRelation(#authentication.getName())}" th:href="${'/invitation/send/' + user.id}">Agregar amigo</a></td>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group" sec:authorize="hasRole('ADMIN')">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="btnEliminar" type="submit" class="btn btn-primary" th:text="#{user.list.delete}">Eliminar</button>
            </div>
        </div>
    </form>
    <footer sec:authorize="hasRole('STANDARD')" th:replace="fragments/pagination"/>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>