<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body>

<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>

<div class="container">
    <h2 th:text="#{register.title}">Registrate como usuario</h2>
    <form class="form-horizontal" method="post" action="/signup" th:object="${user}">
        <div class="form-group">
            <label class="control-label col-sm-2" for="email" th:text="#{register.email}">Correo:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="email" name="email"
                       th:placeholder="#{placeholder.username}" required="true"/>
                <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name" th:text="#{register.name}">Nombre:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="name"
                       th:placeholder="#{placeholder.name}" required="true"/>
                <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="lastName" th:text="#{register.lastName}">Apellidos:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastName" name="lastName"
                       th:placeholder="#{placeholder.lastName}" required="true"/>
                <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="password" th:text="#{register.password}">Constraseña:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password"
                       th:placeholder="#{placeholder.password}" />
                <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
        </div>
        <div class="form-group" >
            <label class="control-label col-sm-2" id="passwordConfirm" for="passwordConfirm" th:text="#{register.confirm}">Repita la contraseña:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="passwordConfirm" th:placeholder="#{placeholder.confirm}" />
                <span class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" th:text="#{register.submit}">Enviar</button>
            </div>
        </div>
    </form>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>