<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head"/>
<body>
<nav th:replace="fragments/nav"></nav>

<div class="container" id="main-container">
    <h2 th:text="#{invitation.list.title}">Invitaciones</h2>
    <p th:text="#{invitation.list.description}">Las invitaciones que tiene actualmente son:</p>
    <div class="table-responsive">
        <table class="table table-hover" id="invitationList">
            <thead>
            <tr>
                <th scope="col" th:text="#{user.list.email}">Correo</th>
                <th scope="col" th:text="#{user.list.name}">Nombre</th>
                <th scope="col" th:text="#{user.list.lastName}">Apellidos</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:id="${'invitation_' + invitation.sender.getName()}" th:each="invitation : ${invitationList}">
                <td scope="row" th:text="${invitation.sender.getEmail()}">user01@email.com</td>
                <td th:text="${invitation.sender.getName()}"> User01</td>
                <td th:text="${invitation.sender.getLastName()}">User01</td>
                <td><a th:text="#{invitation.accept}" th:href="${'/friend/accept/'+ invitation.id}">Aceptar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <footer th:replace="fragments/pagination"/>
</div>
<footer th:replace="fragments/footer"/>

</body>
</html>
